@import url("https://fonts.googleapis.com/css?family=Lato:400|Josefin+Sans:700");

body {
    background-color: #ffffff;
/*    background-image: url("slide2.webp");*/
/*    background-repeat: no-repeat;*/
    background-attachment: fixed;
    background-size: cover;
}

.members {
    margin: 0px 10px 0px 15px;
}

.container-jnrs .container-snrs {
    width: 100%;
    position: absolute;
    left: 5%;
    top: 5%;
    /*	transform: translate(-50%, -50%);*/
}

.cover {
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 30px 20px;
    border-radius: 8px;

}

/*@media screen and (max-width: 700px) {
	.container {
		width : 100%;
		position: relative;
		transform: translate(0%, 0%);
		top: 0;
		left: 0;
	}
	.cover {
		display: flex;
		justify-content: space-between;
		height: 200px;
		width: 350px;
		margin: 20px;
	}
}*/

.atvImg {
    border-radius: 8px;
    transform-style: preserve-3d;
    -webkit-tap-highlight-color: rgba(#000, 0);
}

.atvImg img {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25);
}

.atvImg-container {
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 8px;
    transition: all 0.2s ease-out;
}

.atvImg-container.over .atvImg-shadow {
    box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4);
}

.atvImg-layers {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    transform-style: preserve-3d;
}

.atvImg-rendered-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: cover;
    transition: all 0.1s ease-out;
    overflow: hidden;
    border-radius: 8px;
}

.atvImg-shadow {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    transition: all 0.2s ease-out;
    box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);
}

.atvImg-shine {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    background: linear-gradient(135deg, rgba(255, 255, 255, .25) 0%, rgba(255, 255, 255, 0) 60%);
}

#center {
    text-align: center;
}

/* Main styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.text {
    fill: none;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-dasharray: 70 330;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 6s infinite linear;
    animation: stroke 6s infinite linear;
}

.text:nth-child(5n+1) {
    stroke: #F2385A;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}

.text:nth-child(5n+2) {
    stroke: #F5A503;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
}

.text:nth-child(5n+3) {
    stroke: #E9F1DF;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
}

.text:nth-child(5n+4) {
    stroke: #56D9CD;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s;
}

.text:nth-child(5n+5) {
    stroke: #3AA1BF;
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
}

@-webkit-keyframes stroke {
    100% {
        stroke-dashoffset: -400;
    }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: -400;
    }
}

/* Other styles */


body {
    letter-spacing: 2px;
    font: 3em Open Sans, Impact;
    text-transform: uppercase;
}

svg {

    width: 50%;
    min-width:350px;
 /*    min-height: 100px; */

}
.logo{
	    max-height: 200px;
}
.logo img {
    width: 20%;
    margin: 0px;
}
.logo img:hover{
	transition: 2s;
	animation: rotate 1.5s ease-in ;
}
@keyframes rotate {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
@media only screen and (max-width: 600px) {
	.logo img {
    width: 40%;
}
.logo{
	 height: 90px;
}
}

/* .members img {
    width: 20%;
    margin: 0px;
} */